/* Animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

body {
    background: linear-gradient(to right, #75f1ff, #f98cb9);
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    animation: fadeIn 1.5s ease-in-out;
    color: #240f54;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.main {
    background: rgba(255, 255, 255);
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 80%;
}

h1 {
    font-size: 5em;
    margin-bottom: 20px;
    
}

p {
    font-size: 2em;
    margin-bottom: 30px;
    color: #69126f;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
